.pricing {
    width: 73.7%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    gap: 96px;
}

.pricing-title {
    width: 620px;
    height: 128px;
    padding: 0 120px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-btn {
    width: 125px;
    height: 48px;
    border-radius: 4px;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.pricing-btn p {
    color: var(--bg-color-2);
    text-align: center;
    font-family: "Roboto-regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

.pricing-title h4 {
    color: var(--color-2);
    font-family: "Roboto-regular";
    font-size: 49px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 2.24px;
    margin-bottom: 13px;
    margin-top: 13px;
}

.pricing-images {
    width: 100%;
    display: flex;
    gap: 40.9px;
}

.pricing-images-item {
    width: 47.8%;
    height: 613px;
}

.pricing-images__item p {
    margin-top: 40px;
    margin-left: 56px;
    color: var(--color-2);
    font-family: "Roboto-regular";
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.96px;
}

.pricing-images__item img {
    margin-top: 40px;
    border-radius: 4px;
    background: var(--bg-color-3);
    margin-left: 25px;
}